<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hoja de vida</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/cv/img/favicon.ico">
    <link rel="stylesheet" href="../static/cv/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/cv/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/cv/css/slicknav.css">
    <link rel="stylesheet" href="../static/cv/css/flaticon.css">
    <link rel="stylesheet" href="../static/cv/css/animate.min.css">
    <link rel="stylesheet" href="../static/cv/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/cv/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/cv/css/themify-icons.css">
    <link rel="stylesheet" href="../static/cv/css/slick.css">
    <link rel="stylesheet" href="../static/cv/css/nice-select.css">
    <link rel="stylesheet" href="../static/cv/css/style.css">
</head>

<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/cv/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-area header-transparent">
            <div class="main-header">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="/"><img src="../static/cv/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-8">
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>



                                        <ul id="navigation">
                                            <li><a href="/">@Home</a></li>
                                            <li><a href="/oficiales">@Oficiales SCT</a></li>
                                            <li><a href="/sanagustin">@Condominios SCT</a></li>
                                            <li><a href="http://Github.com">@ecom ahorros 2021</a></li>
                                            <li class="login"><a href="/">
                                                <i class="ti-user"></i> MundiCom & ecom Users</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center"></br>
                        <div class="col-xl-8 col-lg-9">
                            <div>
                                <div class="hero__caption">
                                    <h1 style="font-size: 3.9em"><strong></br></br>PORTAFOLIO</strong></h1></br>
                                    <a href="https://wa.me/50672451354" class="btn">SOLICITAR Curriculum Vitae</a></br></br>
                                </div></br></br></br>
                            </div></br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-location section-padding30">
            <div  class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-80">
                            <span style="font-size: 2.7em">MIS PROYECTOS</span>
                            <h5><strong>Aplicaciones Web</br>Aplicaciones Android</br>Aplicaciones IOs</br>Windows Desktop Apps</strong></h5>
                            <h5><strong>{Backend & Base de datos}</strong></h5></br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location1.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>CM-Condominios 2021</p>
                                <a href="/sanagustin" class="location-btn"> Vista previa </a>
                            </div>
                        </div></br>
                    </div></br>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location2.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>Administrador CM-2021</p>
                                <a href="#" class="location-btn">De pago</a>

                            </div>
                        </div></br>
                    </div></br>


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location3.png" alt="">
                            </div>


                            <div class="location-details">
                                <p>CM-Oficiales 2021</p>
                                <a href="/oficiales" class="location-btn"> Vista </a>
                            </div>
                        </div></br>
                    </div></br>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location4.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>@Ahorros_multiplataforma</p>

                                <a href="#" class="location-btn">De pago</a>


                            </div>
                        </div></br>
                    </div></br>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location5.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>@Control_Vehícular SCT</p>
                                <a href="#" class="location-btn">  Vista previa  </a>
                            </div>
                        </div></br>
                    </div></br>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-location mb-30">
                            <div class="location-img">
                                <img src="../static/cv/img/gallery/location6.png" alt="">
                            </div>
                            <div class="location-details">
                                <p>Proyectos gratis</p>
                                <a href="#" class="location-btn">  ecomyCode  </a>
                            </div>
                        </div>
                    </div></br></br>
                    </br></br></br></br>
                </div></br></br></br></br></br>
            </div>
        </div>

        <div class="services-area pt-150 pb-150 section-bg" data-background="../static/cv/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="section-tittle section-tittle2 text-center mb-80">

                            <span style="font-size: 2.5em">Experiencia laboral</span><hr/>
                        </div>

                    </div>
                </div></br>

                <div class="row justify-content-between">

                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">

                            <div class="services-cap">

                                <h5><a href="#">Supervisor de seguridad GAM</a></h5>
                                <h5><a href="#">Respuesta armada</a></h5>
                                <h5><a href="#">Escolta de contenedores</a></h5>
                                <h5><a href="#">Desarrollador de aplicación administrativa</a></h5>
                                <h5><a href="#">Encargado Técnico T.I</a></h5>
                                <h5><a href="#">Departamento de becas I.T.N</a></h5>
                                <h5><a href="#">Oficial de Monitoreo y Vigilancia</a></h5>
                                <h5><a href="#">Seguridad Privada</a></h5>
                                <h5><a href="#">CEO Accionista en ecomycr company</a></h5>
                                <h5><a href="#">Python Programming Language</a></h5>
                                <h5><a href="#">Instructor computacional</a></h5>
                                <h5><a href="#">Palma Aceitera & Ganadería</a></h5>

                                <h5><a href="#">Otros...</a></h5></br></br></br></br>
                                <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-icon">
                                <span class="flaticon-respect"></span>
                            </div>


                            </div>
                        </div>
                    </div>
                    <img class="shape1 d-none d-lg-block" src="../static/cv/img/icon/serices1.png" alt="">
                </div>
            </div>

        </div>

        <div class="peoples-visit dining-padding-top">
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption">
                                <span style="font-size: 2.3em ; font-family: Helvetica">Formación académica</span>
                                <div>
                                    <br/>
                                    <div class="visit-cap">
                                        <h4></br> <strong>Bachiller en Educación media</strong></h4>
                                        <p><strong>Colegio Joge Volio Jiménez | Nov, 2013.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Técnico en Redes Informáticas</strong></h4>
                                        <p><strong>Universidad Estatal a Distancia | Nov, 2016.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>English for Business</strong></h4>
                                        <p><strong>Instituto Nacional de Aprendizaje | agosto, 2012.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Portación de armas Completo</strong></h4>
                                        <p><strong>Escuela Nacional de Policías & EPSA | Nov, 2020.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Curso de Supervisor & PMI</strong></h4>
                                        <p><strong>Instituto Técnico Nacional de Costa Rica | Nov, 2018.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Manipulación de alimentos</strong></h4>
                                        <p><strong>Instituto Nacional de Aprendizaje I.N.A | Nov, 2020.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Servicio al cliente</strong></h4>
                                        <p><strong>Instituto Técnico Nacional de Costa Rica | Ene, 2019.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Técnico en Computación v.2020</strong></h4>
                                        <p><strong>Instituto Técnico Nacional de Costa Rica | Abril, 2019.</strong>
                                        </p>
                                    </div>
                                    <div class="visit-cap">
                                        <h4></br><strong>Formación complementaria</strong></h4>
                                        <p><strong>AWS VPS C2 | Inteligencia artificial | NUMPY | MATPLOTLIB | TWILIO | Detección de movimientos Python | Paqueteria Microsoft Office 2021 | MySQL WORKBENCH | INDIGO | FLASK | Prevención contra incendios | Otros...</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="../static/cv/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Aplicaciones 2021</h4>
                                    <ul>
                                        <li><a href="/oficiales">@Oficiales</a></li>
                                        <li><a href="/sanagustin">@Condominios</a></li>

                                        <li><a href="#">@ecomycr_ahorros</a></li>
                                        <li><a href="#">@SCT-Administración</a></li>
                                        <li><a href="#">@esph_unidades_vehicular</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Download Android Apps</h4>
                                    <ul>
                                        <li class="app-log"><a href="#"><img src="../static/cv/img/gallery/app-logo.png" alt=""></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p>&copy;ecomycr 2021 Costa Rica</p>
                                <p>Todos los derechos reservados.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="back-top" >
        <a title="Go to Top" href="/"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <script src="../static/cv/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/cv/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/cv/js/popper.min.js"></script>
    <script src="../static/cv/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/cv/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/cv/js/owl.carousel.min.js"></script>
    <script src="../static/cv/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/cv/js/wow.min.js"></script>
    <script src="../static/cv/js/animated.headline.js"></script>
    <script src="../static/cv/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="../static/cv/js/jquery.nice-select.min.js"></script>
    <script src="../static/cv/js/jquery.sticky.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./../static/cv/js/plugins.js"></script>
    <script src="./../static/cv/js/main.js"></script>

</body>
</html>