<!DOCTYPE HTML>

<html>
<head>
	<title>Portafolio YeAraya</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/miperfil/css/main.css" />
</head>
<body class="is-preload">





	<nav id="nav">
		<ul class="container">
			<li><a href="/cv">Portafolio</a></li>
			<li><a href="http://fb.com">Facebook</a></li>
			<li><a href="http://github.com">Github code</a></li>
		</ul>
	</nav>

	<article id="top" class="wrapper style1">
		<div class="container">
			<div class="row">

				<div class="col-4 col-5-large col-12-medium">
					<span class="image fit"><img src="../static/miperfil/images/pic00.jpg" alt="" /></span>
				</div>

				<div class="col-8 col-7-large col-12-medium">
					<header>
						<h1  style="font-size:2.8em; "  ><strong>Yeisson Araya</strong></h1>
						<h2 style="font-size:1.4em;" >Manager de ecomycr™</br>Programación administrativa</br></h2>
					</header>

					<div class="container">
						<div class="aln-center">
							<p style="font-size: 1.15em"><strong></br>Bienvenid@ a mi plataforma de proyectos.</br>Presiona el circulo rojo en la esquina inferior para activar el bot de Inteligencia Artificial.</br>Es un gusto tenerte por acá.</strong> </p>
							</br></br><a href="/cv" class="button large scrolly">Hoja de vida</a>

						</div>
					</div></br>

					<div class="container">
						<div class="aln-center">
							<a href="/oficiales" class="button alt">Oficiales App</a>
							<a href="/sanagustin" class="button  alt">Hacienda San Agustín</a>
							<a href="http://Github.com" class="button  alt">Mis proyectos de uso libre</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>


	<article id="contact" class="wrapper style4">
		<div class="container medium">
			<header>
				<p>Python & ORM-SQLAlchemy base de datos</br>En Frontend se reutilizo código </br>únicamente para prácticar</p>
			</header>
		</div>
	</article>


	<article id="portfolio" class="wrapper style3">
		<div class="container">



			<div class="row">


				<div class="col-4 col-6-medium col-12-small">
					<article class="box style2">
						<h3><a href="#"><strong>Este proyecto se llevó a cabo sin fines</a></h3></br>
							<p>Creado únicamente para practicar: HTML, CSS, BOOTSTRAP, Javascript, base de datos, lenguaje de programación Python y sus framework: Django, Flask, Kivy, KivyMD, otros.</br> En el FrontEnd con ayuda de código reutilizado de cursos, blogs y tutoriales.</br>Proyecto#1 portafolio v.1</strong></p>


						</article>
					</div>


				</div>
			</div>
		</article>


		<article id="contact" class="wrapper style4">
			<div class="container medium">
				<header>
					<h2>@YeissonAraya2021</h2>
				</header>
				<div class="row">
					<div class="col-12">
						<hr />
						<ul class="social">



							<li><a href="http://Facebook.com/ecomycr.ceo" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>

							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>


							<li><a href="http://github.com/arayacode21" class="icon brands fa-github"><span class="label">Github</span></a></li>

							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>


							<li><a href="#" class="icon brands fa-soundcloud"><span class="label">Soundcloud</span></a></li>

						</ul>
						<hr />
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy;ecomycr 2021 YeissonAraya</li><li><a href="http://ecomyapps.pythonanywhere.com"> Todos los derechos reservados </br>(Python) </a></li>
					</ul>
				</footer>
			</div>
		</article>
<!-- Scroll Up -->
<div >
    <a  style = "background:#eb566c;height:50px;width:50px;right:31px;bottom:18px;position:fixed;color:#fff;font-size:20px;text-align:center;border-radius:50%;line-height:48px;border:2px solid transparent;box-shadow:0 0 10px 3px rgba(108,98,98,0.2)"   title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

		<script src="../static/miperfil/js/jquery.min.js"></script>
		<script src="../static/miperfil/js/jquery.scrolly.min.js"></script>
		<script src="../static/miperfil/js/browser.min.js"></script>
		<script src="../static/miperfil/js/breakpoints.min.js"></script>
		<script src="../static/miperfil/js/util.js"></script>
		<script src="../static/miperfil/js/main.js"></script>



	</body>
	</html>